//colors
$white: #fff;
$color_onahau_approx: #c7f7ff;
$color_casal_approx: #3a5e63;
$color_indian_khaki_approx: #c9a689;
$color_quill_gray_approx: #d4d4d4;
$color_log_cabin_approx: #222;
$color_spicy_mix_approx: #7c593c;
$color_half_baked_approx: #89c0c9;


//fonts

$h3-size: 1.999rem;
$h4-size: 1.414rem;
$main-font: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$second-font: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; 
